.home{
background-image: url(assets/cover_small.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
display: flex;
justify-content: center;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.cucc{
    display: flex;
justify-content: center;
flex-direction: column;
background-color: rgba(136, 160, 158, 0.5);
}