.home{
background-image: url(assets/cover_small.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
*{
    box-sizing: border-box;
    margin: 0;
}
.cucc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.tarolo{
    background-color: rgba(136, 160, 158, 0.5);
    font-size: 2rem;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tarolo button{
    border: none;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.recipes{
    background-color: var(--disabled);
}
.recipes button{
    padding: 30px;
    margin: 20px;
    border: none;
    background-color: var(--primary);
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}