.home{
background-image: url(assets/cover_small.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
*{
    margin: 0;
}
body{
    background-color: #A0E8AF;
}
.cucc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.tarolo{
    background-color: rgba(136, 160, 158, 0.5);
    font-size: 2rem;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tarolo button{
    border: none;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.recipes{
    color: beige;
}
.addnew{
    position: fixed;
    right: 5px;
    bottom: 5px;
    padding: 10px;
    font-size: 1.5rem;
    margin: 20px;
    border: none;
    background-color: var(--primary);
    border-radius: 10px;
}
.addnew:hover{
    scale: 1.05;
    transition: 0.4s;
    background-color: rgb(50, 136, 89);
}
form{
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #FFCF56;
    padding: 20px;
    border-radius: 10px;
    gap: 5px;
}
.form{
    padding-top: 90px;
}
input, textarea{
    border: none;
    color: black;
    background-color: rgba(255, 228, 147, 0.637);
    padding: 5px;
    border-radius: 3px;
    font-size: 1.1rem;
}
input{
    margin-bottom: 10px;
}
.pluszjel{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    width: 230px;
    font-size: 1.5rem;

}
.add{
        background-color: var(--primary);
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.3rem;
}
textarea{
    height: 200px;
    width: 250px;
}
.kartya{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    max-width: 600px;
    border-radius: 20px;
    font-size: 1.1rem;
    background-color: #86BAA1;
    padding: 20px;
}
.gombok{
    padding-top: 30px;

    width:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.gombok p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.hozzavalok p{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 20px;
}
.hozzavalok{
display: flex;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
.lepesek{
    max-width: 600px;
    word-break: break-all;
}
.kartya img{
    max-height: 300px;
    object-fit: cover;
    aspect-ratio: 1.1;
    border-radius: 10px;
    border: #5f5f5f 2px solid;
}
.signin{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    
}
.signin input{
background-color: rgb(135, 206, 162);
}
.gomb{
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary);
    color: beige;
    border: 1px solid var(--secondary); 
}
.signin .gomb:hover{
    color: black;
    background-color: rgb(63, 223, 138);
    transition: 1s;
}
.header{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 183845;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(54, 87, 69, 0.708);
    color: white;
    padding: 1rem;
    width: 100%;
}
button{
    cursor: pointer;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-right: 2rem;
}
.header-right div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.header-right button{
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(54, 87, 69);
    color: beige;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.signin-up-tarolo{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.kijelentkezes{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.kijgomb{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(54, 87, 69);
    color: beige;
}
.kijgomb:hover{
    scale: 1.05;
    transition: 0.4s;
    background-color: rgb(50, 136, 89);
}

.homeSzlogen:hover{
    scale: 1.05;
    transition: 0.5s;
    background-color: rgb(50, 136, 89);
}
.kijelentkezes span{
    color: beige;
    display: inline-block;

}
.kijelentkezes span:hover {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
button:disabled{
    cursor: not-allowed;
}
.profileform{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notfound{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.homeicon{
    margin-top: 18px;
}
.kartya:hover{
    scale: 1.05;
    transition: 1s;
    box-shadow: rgba(166, 255, 196, 0.3) 0px 8px 24px, rgba(166, 255, 196, 0.3) 0px 16px 56px, rgba(166, 255, 196, 0.3) 0px 24px 80px;
}
.deleteButton{
    background-color: orangered;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    color: beige;
}   
.deleteButton:hover{
    scale: 1.1;
    color: beige;
    transition: 0.4s;
    background-color: red;
}
.saveButton{
    color: beige;
    background-color: rgb(54, 87, 69);    
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.saveButton:hover{
    scale: 1.05;
    transition: 0.4s;
    background-color: rgb(50, 136, 89);
}
